
button {
    appearance: none;
    border-radius: 2px;
    background-color: var(--theme-color--button);
    color: var(--theme-color--ink);
    padding: var(--theme-spacing--2);
    text-transform: uppercase;
    }