// you could put these colours in a SASS map and look them up programmatically
// https://sass-lang.com/documentation/modules/map
// but is it easier or clearer than writing them out?
// I think in this case, no. Always choose the simplest, easiest, clearest option
:root {
  --theme-color-blue-medium: #759EDA;
  --theme-color-blue-dark: #5879C7;
  --theme-color-blue-light: #9CCEF4;
  --theme-color-orange: #F4A71D;
  --theme-color-white: #FFFFFF;
--theme-color-blue-navy: #141A5B;

  // @media (prefers-color-scheme: dark) {
  //   --theme-color-blue-medium: #759EDA;
  //   --theme-color-blue-dark: #5879C7;
  //   --theme-color-blue-light: #9CCEF4;
  //   --theme-color-orange: #F4A71D;
  //   --theme-color-white: #FFFFFF;
  // --theme-color-blue-navy: #141A5B;
  // }
}