

.current-weather-container {
    display: flex;
    justify-content: center;

    .weather-details {
        margin: 10px 0;
        justify-content: center;
        text-align: center;
    }

    h2 {
        color: white;
       text-align: center;
       font-size: 1.5rem;
       font-family: Raleway;

    }
    h3{
        
        text-align: center;
        color: var(--theme-color-ink);
    }
    p{
        color: var(--theme-color-ink);
        text-align: center;
        font-size: 1.5rem;
    }
    

    img {
        width: 200px;
    }
}

